html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: $white;
    color: $color-text;
    font-family: $font-one;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none !important;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

section {
    padding-bottom: 110px;

    @include m("sl") {
        padding-bottom: 60px;
    }
}

.btn-custom {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 30px;
    border: 2px solid $white;
    border-radius: 1px;
    background-color: transparent;
    color: $white;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        outline: transparent;
        background: $white;
        color: $orange;
    }
}
