@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../assets/fonts/#{$file_name}.woff2") format("woff2"), url("../assets/fonts/#{$file_name}.woff") format("woff");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@mixin bg() {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin layer($position: absolute, $top: 0, $left: $top, $bottom: $top, $right: $top) {
    content: "";
    position: $position;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}

@mixin background-layer() {
    @include layer;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.8));
    box-shadow: 10px 10px 0 0 #95e1d3;
}

@mixin text-title() {
    font-family: $font-one;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

@mixin text-subtitle() {
    font-family: $font-three;
    font-size: 15px;
    font-weight: 300;
}

@mixin block($width: $width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin truncate($text-width) {
    max-width: $text-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin m($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    } @else {
        @error "Не указано значение для `#{$breakpoint}`";
    }
}
