.preloader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: $accent;
    z-index: 1005;

    &-inner {
        display: block;
        margin-top: -70px;
        width: 70px;
        height: 70px;
        z-index: 1006;
    }
}

#backtop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: $accent;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    cursor: pointer;
    svg {
        height: 25px;
        transform: rotate(90deg);
        color: $white;
    }
    &:hover {
        background-color: $blue;
    }
    &:active {
        background-color: $blue;
    }
    &.backtop-active {
        opacity: 1;
        visibility: visible;
    }
}
