#contact.footer
    .container
        .row
            .col-lg-5
                .footer__about.footer-about
                    p.footer-about__logo MoGo
                    p.footer-about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                    p.footer-about__followers.border-bottom.font-weight-bold 15k 
                        span followers
                    ul.footer-about__follow.d-flex.mb-2
                        li
                            span.font-italic Follow Us:
                        li
                            a(href='#')
                                svg
                                    use(xlink:href='./assets/icons/sprite.svg#facebook-f-brands')
                        li
                            a(href='#')
                                svg
                                    use(xlink:href='./assets/icons/sprite.svg#twitter-brands')
                        li
                            a(href='#')
                                svg
                                    use(xlink:href='./assets/icons/sprite.svg#pinterest-p-brands')
                        li
                            a(href='#')
                                svg
                                    use(xlink:href='./assets/icons/sprite.svg#instagram-brands')
                        li
                            a(href='#')
                                svg
                                    use(xlink:href='./assets/icons/sprite.svg#youtube-brands')
                        li
                            a(href='#')
                                svg
                                    use(xlink:href='./assets/icons/sprite.svg#dribbble-brands')
                    .footer-about__form
                        form.form-inline
                            .form-group.mb-2
                                label.sr-only(for='inputEmail') Your email
                                input#inputEmail.form-control(type='email' placeholder='Your Email')
                            button.btn.btn-custom.mb-2(type='submit') Subscribe
            .col-lg-4
                .footer__blog.footer-blog
                    p.footer__title Blogs
                    .row
                        .col-4
                            a(href='#')
                                img(src='./assets/img/footer-blog1.png' alt='footer-blog')
                        .col-8
                            a(href='#')
                                p.footer-blog__text Lorem ipsum dolor sit amet, consectetur adipiscing
                            p.footer-blog__data Jan 9, 2020
                    .row
                        .col-4
                            a(href='#')
                                img(src='./assets/img/footer-blog2.png' alt='footer-blog')
                        .col-8
                            a(href='#')
                                p.footer-blog__text Consectetur adipiscing elit, sed do eiusmod tempor
                            p.footer-blog__data Jan 12, 2020
                    .row
                        .col-4
                            a(href='#')
                                img(src='./assets/img/footer-blog3.png' alt='footer-blog')
                        .col-8
                            a(href='#')
                                p.footer-blog__text Sed do eiusmod tempor incididunt ut labore
                            p.footer-blog__data Jan 20, 2020
            .col-lg-3
                .footer__inst
                    p.footer__title Instagram
                    .row
                        .col-4
                            img(src='./assets/img/inst1.png' alt='inst')
                            img(src='./assets/img/inst2.png' alt='inst')
                            img(src='./assets/img/inst3.png' alt='inst')
                        .col-4
                            img(src='./assets/img/inst4.png' alt='inst')
                            img(src='./assets/img/inst5.png' alt='inst')
                            img(src='./assets/img/inst6.png' alt='inst')
                        .col-4
                            img(src='./assets/img/inst7.png' alt='inst')
                            img(src='./assets/img/inst8.png' alt='inst')
                            img(src='./assets/img/inst9.png' alt='inst')
                    a(href='#')
                        p View more photos
.footer-copy.text-center.border-top
    p &copy; 2020 MoGo template by 
        span Laaqiq
        |  and developed by 
        a(href='https://tsybulska.github.io/' target='_blank')
            span Olena Tsybulska