extends extends/layout

block content
    main.main
        include includes/hero
        //include includes/about
        //include includes/stats
        //include includes/services
        //include includes/design
        //include includes/service
        //include includes/quote1
        //include includes/team
        //include includes/logo
        //include includes/work
        //include includes/quote2
        //include includes/people
        //include includes/blog
        //include includes/map
    //#top
        //i.icon-up-open-big
