.about {
    &__item {
        position: relative;

        img {
            width: 100%;
        }

        &::before {
            @include layer;
            background: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.8));
            box-shadow: 10px 10px 0 0 #95e1d3;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            visibility: hidden;
        }

        &:hover::before,
        &:hover .about__text {
            opacity: 1;
            visibility: visible;
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: 600;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    svg {
        width: 25px;
        height: 40px;
    }
}

@include m("sl") {
    .about {
        &__item {
            margin-bottom: 30px;
        }
    }
}
