.blog {
    &__img {
        position: relative;
    }

    &-date {
        position: absolute;
        padding: 15px;
        left: -3%;
        bottom: 8%;
        background-color: $blue;
        color: $white;
        text-align: center;

        &__title {
            margin: -10px 0;
            font-family: $font-one;
            font-size: 30px;
            font-weight: 700;
        }

        &__subtitle {
            @include text-subtitle;
            font-style: italic;
        }
    }

    &-text {
        padding: 10px 0 15px;
        &__title {
            margin-bottom: 5px;
            @include text-title;
            color: $color-title;
        }

        &__subtitle {
            @include truncate(300px);
            @include text-subtitle;
            color: $color-text;
        }
    }

    &-stat {
        display: flex;
        align-items: center;
        padding-top: 15px;

        &__eye {
            margin-right: 5px;
            @include bg;
            height: 20px;
            width: 20px;
            background-color: $blue;
            mask-image: url(../assets/icons/sprite.svg#eye-regular);
        }

        &__comm {
            margin: 0 5px 0 20px;
            @include bg;
            height: 20px;
            width: 20px;
            background-color: $blue;
            mask-image: url(../assets/icons/sprite.svg#comment-regular);
        }
    }
}

@media (max-width: 576px) {
    .blog section {
        padding-bottom: 25px;
    }

    .blog-stat {
        margin-bottom: 35px;
    }
}
