.block {
    padding: 90px 0;
    color: $color-title;
    text-align: center;

    &__title {
        margin-bottom: 5px;
        font-family: $font-two;
        font-size: 24px;
    }

    &__subtitle {
        font-family: $font-one;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        &:after {
            display: block;
            content: "";
            height: 3px;
            width: 60px;
            margin: 35px auto 40px;
            background-color: $accent;
        }
    }

    &__text {
        font-family: $font-three;
        color: $color-text;
    }
}

@include m("sl") {
    .block {
        padding: 60px 0;
    }
}
