.footer {
    padding-top: 110px;
    background-color: $color-bg;

    &__about,
    &__blog,
    &__inst {
        padding-bottom: 110px;
    }

    &-about {
        &__logo {
            margin-top: -20px;
            font-family: $font-one;
            font-size: 46px;
            color: $color-text;
            font-weight: 700;
        }

        &__text {
            padding-bottom: 60px;
            @include text-subtitle;
            color: $color-text;
        }

        &__followers {
            padding-bottom: 10px;
            color: $color-title;
        }

        &__follow {
            padding: 10px 0 20px;
            @include text-subtitle;

            li {
                margin-left: 15px;
            }

            svg {
                width: 20px;
                height: 20px;
                color: $blue;
            }
        }

        &__form {
            input,
            .btn-custom {
                height: 40px;
                border-radius: none;
                font-size: 15px;
            }

            .form-control {
                color: $color-text;
            }

            .btn {
                height: 100%;
                background-color: $blue;
            }
        }
    }

    &__title {
        padding-bottom: 30px;
        @include text-title;
        color: $color-title;
    }

    &-blog {
        .row {
            margin-bottom: 20px;
        }

        .col-4 {
            padding-right: 0;
        }

        &__text {
            font-family: $font-one;
            font-size: 12px;
            font-weight: 500;
            color: $color-title;
            text-transform: uppercase;
        }

        &__data {
            font-family: $font-three;
            font-size: 13px;
            font-weight: 300;
            color: $color-text;
            font-style: italic;
        }
    }

    &__inst {
        .row {
            margin-top: -5px;
            padding-left: 10px;
        }

        .col-4 {
            padding: 0;
        }

        img {
            margin: 5px;
        }

        a {
            font-family: $font-three;
            font-size: 13px;
            font-weight: 300;
            color: $color-title;
            font-style: italic;
        }
    }

    &__copy {
        padding: 20px 0;
        background-color: $color-bg;
        color: $color-title;

        span {
            color: $accent;
        }
    }
}
