.hero {
    position: relative;
    margin-top: -121px;
    min-height: 100vh;
    @include bg;
    background-color: $accent;
    color: $white;

    &__body {
        max-width: 800px;
        padding-top: 25vh;
    }

    &__title {
        margin-bottom: 20px;
        font-family: $font-two;
        font-size: 72px;
    }

    &__subtitle {
        font-size: 130px;
        font-weight: 700;
        line-height: 0.9;
        text-transform: uppercase;
        &:after {
            display: block;
            content: "";
            height: 3px;
            width: 60px;
            margin: 70px auto;
            background-color: $white;
        }
    }
}

@include m("tp") {
    .hero {
        margin-top: -91px;
        &__body {
            max-width: 600px;
        }

        &__title {
            font-size: 54px;
        }

        &__subtitle {
            font-size: 80px;
            font-weight: 700;
        }
    }
}

@include m("sl") {
    .hero {
        &__body {
            max-width: 400px;
        }

        &__title {
            font-size: 36px;
        }

        &__subtitle {
            font-size: 65px;
            &:after {
                margin: 40px auto;
            }
        }
    }
}

@include m("sp") {
    .hero {
        &__body {
            max-width: 300px;
        }

        &__title {
            font-size: 28px;
        }

        &__subtitle {
            font-size: 42px;
        }
    }
}
