.map {
    padding: 60px 0;
    background: url("../assets/img/map.png") center center no-repeat;
    @include bg;
    font-family: $font-one;
    font-size: 24px;
    color: $accent;
    font-weight: 700;
    text-transform: uppercase;

    &__icon {
        margin: 0 auto;
        @include bg;
        height: 50px;
        width: 50px;
        background-color: $accent;
        mask-image: url(../assets/icons/sprite.svg#map-marker-alt-solid);
    }

    p {
        margin-top: 10px;

        &:after {
            display: block;
            content: "";
            height: 3px;
            width: 60px;
            background-color: $accent;
            margin: 15px auto;
        }

        &:hover,
        &:focus {
            color: $color-text;
            transition: all 0.3s ease-in-out;
        }
    }
}
