.people {
    padding-bottom: 30px;
    @include bg;

    img {
        margin: 0 auto;
        padding-bottom: 15px;
    }

    &__title {
        margin-bottom: 5px;
        @include text-title;
        color: $color-title;
    }

    &__subtitle {
        @include text-subtitle;
        color: $color-title;
        font-style: italic;

        &::after {
            display: block;
            content: "";
            height: 3px;
            width: 60px;
            background-color: $accent;
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }

    &__text {
        padding-bottom: 80px;
        font-family: $font-three;
        color: $color-text;
    }
}
