.quote2 {
    background: none;
    padding-top: 70px;
    padding-bottom: 70px;
}

.quote2 img {
    width: 100%;
}

@media (max-width: 767px) {
    .quote2 {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .quote2 img {
        width: 70%;
        margin: auto;
        padding-bottom: 15px;
    }
}
