.services {
    .border-bottom {
        padding-bottom: 55px;
        margin-bottom: 65px;
    }

    &__item {
        display: flex;
    }

    &__img {
        width: 100px;
        margin-right: 10px;
        svg {
            width: 35px;
            height: 35px;
            margin-top: 3px;
            color: $blue;
        }
    }

    &__title {
        margin-bottom: 10px;
        @include text-title;
        color: $color-title;
    }

    &__subtitle {
        @include text-subtitle;
        color: $color-text;
    }
}

@include m("sl") {
    .services {
        .border-bottom {
            padding-bottom: 0;
            margin-bottom: 45px;
        }

        &__border {
            border: none;
        }

        &__item {
            margin-bottom: 50px;
            margin-left: 30px;
        }

        &__img {
            width: 70px;
        }
    }
}
