.service {
    .card-header {
        padding: 0.5rem 1.25rem;
        background-color: transparent;

        .btn {
            padding: 0;

            svg {
                width: 30px;
                height: 30px;
                margin-right: 15px;
                color: #95e1d3;
            }

            &:focus,
            &.focus {
                box-shadow: none;
            }
        }

        .btn-link {
            font-family: $font-one;
            font-weight: 600;
            color: $color-title;
            text-transform: uppercase;
        }
    }

    .card-body {
        font-family: $font-three;
        font-weight: 300;
        font-style: italic;
        color: $color-text;
    }
}

@include m("sl") {
    .accordion {
        margin-top: 15px;
    }
}
