.service {
    .card-header {
        padding: 0.5rem;
        background-color: transparent;

        .btn {
            display: flex;
            align-items: center;
            font-family: $font-one;
            line-height: 0.8;
            font-weight: 500;
            color: $color-title;
            text-transform: uppercase;

            svg {
                width: 25px;
                height: 25px;
                margin-right: 15px;
                color: #95e1d3;
            }

            &:focus,
            &.focus {
                box-shadow: none;
            }
        }
    }

    .card-body {
        font-family: $font-three;
        font-weight: 300;
        font-style: italic;
        color: $color-text;
    }
}

@include m("sl") {
    .accordion {
        margin-top: 15px;
    }
}
