.stats {
    background: $blue;
    color: $white;
    text-transform: uppercase;

    .container {
        padding: 0 25px;
    }

    &__item {
        padding: 25px 10px 55px;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        &:last-child {
            border-right: 1px solid rgba(255, 255, 255, 0.3);
        }
    }

    &__num {
        font-size: 72px;
        font-weight: 700;
    }

    &__text {
        margin: -15px auto 0;
        font-size: 14px;
        font-weight: 600;
    }
}

@include m("tp") {
    .stats {
        &__num {
            font-size: 50px;
        }

        &__text {
            font-size: 12px;
        }
    }
}

@media (max-width: 576px) {
    .stats {
        .row {
            display: block;
        }

        &__item {
            padding: 15px 10px 0;
            border-left: none;
            &:last-child {
                padding-bottom: 40px;
            }
        }

        &__num {
            font-size: 72px;
        }

        &__text {
            font-size: 14px;
        }
    }
}
