.team {
    &__item {
        position: relative;

        &::before {
            @include background-layer;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            visibility: hidden;
        }

        &:hover::before,
        &:hover .links {
            opacity: 1;
            visibility: visible;
        }
    }

    .links {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;

        &__item {
            display: inline-block;
            width: 60px;
            height: 60px;
            padding: 15px;
            background-color: $yellow;

            &:hover {
                background-color: $accent;
            }
        }

        &__img {
            @include bg;
            height: 30px;
            width: 30px;
            background-color: $white;

            &--1 {
                mask-image: url("../assets/icons/sprite.svg#twitter-brands");
            }

            &--2 {
                mask-image: url("../assets/icons/sprite.svg#facebook-f-brands");
            }

            &--3 {
                mask-image: url("../assets/icons/sprite.svg#pinterest-p-brands");
            }

            &--4 {
                mask-image: url("../assets/icons/sprite.svg#instagram-brands");
            }
        }
    }

    &__name {
        padding: 10px 0 5px;
        @include text-title;
        color: $color-title;
    }

    &__position {
        @include text-subtitle;
        color: $color-text;
        font-style: italic;
    }
}

@include m("tp") {
    .team {
        .links {
            &__item {
                width: 30px;
                height: 30px;
                padding: 5px;
            }

            &__img {
                height: 15px;
                width: 15px;
            }
        }
    }
}

@media (max-width: 576px) {
    .team {
        .links {
            &__item {
                width: 60px;
                height: 60px;
                padding: 15px;
            }

            &__img {
                height: 30px;
                width: 30px;
            }
        }

        &__position {
            padding-bottom: 40px;
        }
    }
}
