.work {
    .row {
        margin: 0;
    }

    .col-sm-3 {
        padding: 0;
    }

    &__item {
        position: relative;

        img {
            width: 100%;
        }

        &::before {
            @include background-layer;
            box-shadow: none;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            visibility: hidden;
        }

        &:hover::before,
        &:hover .work__text {
            opacity: 1;
            visibility: visible;
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        line-height: 1.2;
        color: $white;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    &__icon {
        margin: 15px auto;
        @include bg;
        height: 30px;
        width: 30px;
        background-color: $white;
        mask-image: url("../assets/icons/sprite.svg#user-regular");
    }

    &__title {
        margin-bottom: 5px;
        @include text-title;
        text-transform: uppercase;
    }

    &__subtitle {
        @include text-subtitle;
        font-style: italic;
    }
}

@media (max-width: 576px) {
    .work {
        .col-sm-3 {
            padding-right: 15px;
            padding-left: 15px;
        }
        &__item {
            margin: 0 15px;
        }
    }
}
