.work .row {
    margin: 0;
}

.work-box-box {
    padding: 0;
}

.work-box {
    position: relative;
}

.work-box img {
    width: 100%;
}

.work-box:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.8));
    opacity: 0;
}

.work-box:hover:before {
    transition: 0.5s ease-in-out;
    opacity: 1;
}

.work-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 30%;
    opacity: 0;
    color: $white;
}

.work-body i {
    font-size: 20px;
}

.work-body:hover {
    transition: 0.5s ease-in-out;
    opacity: 1;
}

.work-body .work-body-title {
    font-family: $font-one;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.work-body .work-body-text {
    font-family: $font-three;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
}

.work-body-long {
    top: 20%;
}

@media (min-width: 768px) and (max-width: 991px) {
    .work-body-title {
        font-size: 12px;
    }
    .work-body-text {
        font-size: 10px;
    }
}
