section#about.about
    .container
        .block
            p.block__title What we do
            h3.block__subtitle Story about us
            p.block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
        .row
            .col-sm-4
                .about__item
                    img(src='./assets/img/about1.png' alt='about')
                    .about__text
                        .about__icon
                        p.about__icon-text Super team
            .col-sm-4
                .about__item
                    img(src='./assets/img/about2.png' alt='about')
                    .about__text
                        .about__icon
                        p.about__icon-text Super team
            .col-sm-4
                .about__item
                    img(src='./assets/img/about3.png' alt='about')
                    .about__text
                        .about__icon
                        p.about__icon-text Super team
