section#blog.blog
    .container
    .text-center
        .block
        p.block-title Our stories
        h3.block-subtitle Latest blog
    .row
        .col-sm-4
        .blog-box
            .blog-img
            a(href='#')
                img(src='img/blog1.png' alt='blog1')
            .blog-body.text-center
            p.blog-body-number 15
            p.blog-body-month Jan
        .blog-text
            a(href='#')
            p.blog-text-title Lorem ipsum dolor sit amet
            p.blog-text-text
            | Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        ul.blog-stat
            li
            i.icon-eye
            li.blog-stat-p 335
            li
            a(href='#')
                i.icon-comment
            li.blog-stat-p
            a(href='#')
            | 5
        .col-sm-4
        .blog-box
            .blog-img
            a(href='#')
                img(src='img/blog2.png' alt='blog2')
            .blog-body.text-center
            p.blog-body-number 14
            p.blog-body-month Jan
        .blog-text
            a(href='#')
            p.blog-text-title Sed do eiusmod tempor elit
            p.blog-text-text
            | Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        ul.blog-stat
            li
            i.icon-eye
            li.blog-stat-p 478
            li
            a(href='#')
                i.icon-comment
            li.blog-stat-p
            a(href='#')
            | 12
        .col-sm-4
        .blog-box
            .blog-img
            a(href='#')
                img(src='img/blog3.png' alt='blog3')
            .blog-body.text-center
            p.blog-body-number 12
            p.blog-body-month Jan
        .blog-text
            a(href='#')
            p.blog-text-title Incididunt ut labore et dolore
            p.blog-text-text Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        ul.blog-stat
            li
            i.icon-eye
            li.blog-stat-p 542
            li
            a(href='#')
                i.icon-comment
            li.blog-stat-p
            a(href='#')
            | 17