section#blog.blog
    .container
        .block
            p.block__title Our stories
            h3.block__subtitle Latest blog
        .row
            .col-sm-4
                .blog__img
                    a(href='#')
                        img(src='./assets/img/blog1.png' alt='blog')
                    .blog__date.blog-date
                        p.blog-date__title 15
                        p.blog-date__subtitle Jan
                .blog__text.blog-text.border-bottom
                        a(href='#')
                            p.blog-text__title Sed do eiusmod tempor elit
                        p.blog-text__subtitle Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                .blog__stat.blog-stat
                    .blog-stat__eye
                    span 335
                    .blog-stat__comm
                    span 5
            .col-sm-4
                .blog__img
                    a(href='#')
                        img(src='./assets/img/blog2.png' alt='blog')
                    .blog__date.blog-date
                        p.blog-date__title 14
                        p.blog-date__subtitle Jan
                .blog__text.blog-text.border-bottom
                        a(href='#')
                            p.blog-text__title Lorem ipsum dolor sit amet
                        p.blog-text__subtitle Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                .blog__stat.blog-stat
                    .blog-stat__eye
                    span 478
                    .blog-stat__comm
                    span 12
            .col-sm-4
                .blog__img
                    a(href='#')
                        img(src='./assets/img/blog3.png' alt='blog')
                    .blog__date.blog-date
                        p.blog-date__title 12
                        p.blog-date__subtitle Jan
                .blog__text.blog-text.border-bottom
                        a(href='#')
                            p.blog-text__title Incididunt ut labore et dolore
                        p.blog-text__subtitle Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                .blog__stat.blog-stat
                    .blog-stat__eye
                    span 542
                    .blog-stat__comm
                    span 17
