.design(style='background-image: url(./assets/img/design.png)')
    .container
        .block
            p.block__title For all devices
            h3.block__subtitle Unique design
        .design__img
            img(src='./assets/img/design1.png' alt='design')