.design(style='background-image: url(../assets/img/design.png)')
    .container
    .text-center
        .block
        p.block-title For all devices
        h3.block-subtitle Unique design
        .design-body
        img.img-responsive(src='img/design1.png' alt='design1')