.hero(style='background-image: url(/assets/img/preview.png)')
    .container
        .hero__body.text-center.mx-auto
            h1.hero__title Creative Template
            h2.hero__subtitle Welcome to MoGo
            a.btn-custom(href='#about') Learn More