.logo
    .container
    .text-center
        .row
        .col-xs-6.col-sm-2
            .logo-img.img-responsive
            a(href='#')
                img(src='img/logo2.png' alt='logo2')
        .col-xs-6.col-sm-2
            .logo-img.img-responsive
            a(href='#')
                img(src='img/logo1.png' alt='logo1')
        .col-xs-6.col-sm-2
            .logo-img.img-responsive
            a(href='#')
                img(src='img/logo3.png' alt='logo3')
        .col-xs-6.col-sm-2
            .logo-img.img-responsive
            a(href='#')
                img(src='img/logo6.png' alt='logo6')
        .col-xs-6.col-sm-2
            .logo-img.img-responsive
            a(href='#')
                img(src='img/logo5.png' alt='logo5')
        .col-xs-6.col-sm-2
            .logo-img.img-responsive
            a(href='#')
                img(src='img/logo4.png' alt='logo4')