.logo
    .container.text-center
        .row
            .col-12.col-md-6.col-lg-2.my-auto
                .logo__item
                    a(href='#')
                        img(src='./assets/img/logo2.png' alt='logo')
            .col-12.col-md-6.col-lg-2.my-auto
                .logo__item
                    a(href='#')
                        img(src='./assets/img/logo1.png' alt='logo')
            .col-12.col-md-6.col-lg-2.my-auto
                .logo__item
                    a(href='#')
                        img(src='./assets/img/logo3.png' alt='logo')
            .col-12.col-md-6.col-lg-2.my-auto
                .logo__item
                    a(href='#')
                        img(src='./assets/img/logo6.png' alt='logo')
            .col-12.col-md-6.col-lg-2.my-auto
                .logo__item
                    a(href='#')
                        img(src='./assets/img/logo5.png' alt='logo')
            .col-12.col-md-6.col-lg-2.my-auto
                .logo__item
                    a(href='#')
                        img(src='./assets/img/logo4.png' alt='logo')