.map(style='background-image: url("./assets/img/map.png")')
    .container.text-center
        .map__icon
        a(href='https://goo.gl/maps/VbjirtXh57y')
            p.map__text Open map
            