.people
    .container
    .text-center
        .block
        p.block-title Happy Clients
        h3.block-subtitle What people say
    .row
        .col-sm-6
        .col-md-offset-1.col-md-3.col-xs-4
            img(src='img/people1.png' alt='people1')
        .col-xs-8
            p.people-title Matthew Dix
            p.people-subtitle Graphic Design
            p.people-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        .col-sm-6
        .col-md-offset-1.col-md-3.col-xs-4
            img(src='img/people2.png' alt='people2')
        .col-xs-8
            p.people-title Nick Karvounis
            p.people-subtitle Graphic Design
            p.people-text
            | Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    .row
        .col-sm-6
        .col-md-offset-1.col-md-3.col-xs-4
            img(src='img/people3.png' alt='people3')
        .col-xs-8
            p.people-title Jaelynn Castillo 
            p.people-subtitle Graphic Design
            p.people-text
            | Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        .col-sm-6
        .col-md-offset-1.col-md-3.col-xs-4
            img(src='img/people4.png' alt='people4')
        .col-xs-8
            p.people-title Mike Petrucci
            p.people-subtitle Graphic Design
            p.people-text
            | Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim