.quote1
    .container
    .carousel
        .quote-box.item
        .row
            .col-sm-offset-2
            .col-sm-3.col-md-2
                img(src='img/quote1.png' alt='quote1')
            .col-sm-8.col-md-9.quote-text-box
                p.quote-text
                | &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation&rdquo;
                p.quote-author Jon Doe
        .quote-box.item
        .row
            .col-sm-offset-2
            .col-sm-3.col-md-2
                img(src='img/quote1.png' alt='quote1')
            .col-sm-8.col-md-9.quote-text-box
                p.quote-text
                | &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation&rdquo;
                p.quote-author Jon Doe