section.services
    .container
        .block
            p.block__title We work with
            h3.block__subtitle Amazing Services
        .row.border-bottom
            .col-md-4.pr-3
                .services__item
                    .services__img
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#clock-regular')
                    .services__text
                        p.services__title Photography
                        p.services__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            .col-md-4.pr-3
                .services__item
                    .services__img
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#sticky-note-regular')
                    .services__text
                        p.services__title Web Design
                        p.services__subtitle Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            .col-md-4
                .services__item
                    .services__img
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#plus-square-regular')
                    .services__text
                        p.services__title Creativity
                        p.services__subtitle Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        .row
            .col-md-4.pr-3
                .services__item
                    .services__img
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#arrow-alt-circle-up-regular')
                    .services__text
                        p.services__title Seo
                        p.services__subtitle Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            .col-md-4.pr-3
                .services__item
                    .services__img
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#check-square-regular')
                    .services__text
                        p.services__title Css/Html
                        p.services__subtitle Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor
            .col-md-4
                .services__item
                    .services__img
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#bell-regular')
                    .services__text
                        p.services__title Digital
                        p.services__subtitle Sit amet, consectetur adipiscing elit, sed do eiusmod tempor