.services
    .container
    .text-center
        .block
        p.block-title We work with
        h3.block-subtitle Amazing Services
    .row-line
        .row
        .col-sm-4
            .services-box
            .row
                .col-xs-2.text-center
                i.icon-clock
                .col-xs-10
                .services-body
                    p.services-title-top Photography
                    p.block-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        .col-sm-4
            .services-box
            .row
                .col-xs-2.text-center
                i.icon-book-open
                .col-xs-10
                .services-body
                    p.services-title-top Web Design
                    p.block-text Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        .col-sm-4
            .services-box
            .row
                .col-xs-2.text-center
                i.icon-tools
                .col-xs-10
                .services-body
                    p.services-title-top Creativity
                    p.block-text Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    .row
        .col-sm-4
        .services-box
            .row
            .col-xs-2.text-center
                i.icon-air
            .col-xs-10
                .services-body
                p.services-title Seo
                p.block-text Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        .col-sm-4
        .services-box
            .row
            .col-xs-2.text-center
                i.icon-monitor
            .col-xs-10
                .services-body
                p.services-title Css/Html
                p.block-text Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor
        .col-sm-4
        .services-box
            .row
            .col-xs-2.text-center
                i.icon-window
            .col-xs-10
                .services-body
                p.services-title Digital
                p.block-text Sit amet, consectetur adipiscing elit, sed do eiusmod tempor