section#service.service
    .container
        .block
            p.block__title Service
            h3.block__subtitle What we do
            p.block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
        .row
            .col-md-6
                .service__img
                    img(src='./assets/img/service.png' alt='service')
            .col-md-6
                #accordionExample.accordion
                    .card
                        #headingOne.card-header
                            h4.mb-0
                                button.btn.btn-link.btn-block.text-left.text-decoration-none(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                    svg
                                        use(xlink:href='./assets/icons/sprite.svg#images-solid')
                                    span Photography
                        #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
                            .card-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .card
                        #headingTwo.card-header
                            h4.mb-0
                                button.btn.btn-link.btn-block.text-left.text-decoration-none(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo') 
                                    svg
                                        use(xlink:href='./assets/icons/sprite.svg#palette-solid')
                                    span Creativity
                        #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
                            .card-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .card
                        #headingThree.card-header
                            h4.mb-0
                                button.btn.btn-link.btn-block.text-left.text-decoration-none(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='true' aria-controls='collapseThree')
                                    svg
                                        use(xlink:href='./assets/icons/sprite.svg#swatchbook-solid')
                                    span Web design
                        #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
                            .card-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
