.stats
    .container.text-center
        .row
            .col.stats__item
                p.stats__num 42
                p.stats__text design projects
            .col.stats__item
                p.stats__num 123
                p.stats__text happy client
            .col.stats__item
                p.stats__num 24
                p.stats__text members
            .col.stats__item
                p.stats__num 15
                p.stats__text award winner
            .col.stats__item
                p.stats__num 99
                p.stats__text cup of coffee
