.stats
    .container
    .text-center
        .row-stat
        .stat
            p.num 42
            p.stat-body web design projects
        .stat
            p.num 123
            p.stat-body happy client
        .stat
            p.num 15
            p.stat-body award winner
        .stat
            p.num 99
            p.stat-body cup of coffee
        .stat
            p.num 24
            p.stat-body members