.team
    .container
    .text-center
        .block
        p.block-title Who we are
        h3.block-subtitle Meet our team
        p.block-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
        .row
        .col-sm-4
            .team-box
            .team-img
                img(src='img/team1.png' alt='team1')
            .team-body
                a(href='#')
                i.icon-facebook-1
                a(href='#')
                i.icon-twitter-3
                a(href='#')
                i.icon-pinterest-1
                a(href='#')
                i.icon-instagram-3
            .team-text
            p.team-name Matthew Dix
            p.team-position Graphic Design
        .col-sm-4
            .team-box
            .team-img
                img(src='img/team2.png' alt='team2')
            .team-body
                a(href='#')
                i.icon-facebook-1
                a(href='#')
                i.icon-twitter-3
                a(href='#')
                i.icon-pinterest-1
                a(href='#')
                i.icon-instagram-3
            .team-text
            p.team-name Christopher Campbell
            p.team-position Branding/UX design
        .col-sm-4
            .team-box
            .team-img
                img(src='img/team3.png' alt='team3')
            .team-body
                a(href='#')
                i.icon-facebook-1
                a(href='#')
                i.icon-twitter-3
                a(href='#')
                i.icon-pinterest-1
                a(href='#')
                i.icon-instagram-3
            .team-text
            p.team-name Michael Fertig
            p.team-position Developer