#work.work
    .container
    .text-center
        .block
        p.block-title What we do
        h3.block-subtitle Some of our work
        p.block-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
    .row.text-center
    .col-sm-3.work-box-box
        .work-box
        img(src='img/work1.png' alt='work1')
        .work-body
            i.icon-picture-1
            p.work-body-title Creatively designed
            p.work-body-text Lorem ipsum dolor sit
        .work-box
        img(src='img/work3.png' alt='work3')
        .work-body
            i.icon-picture-1
            p.work-body-title Creatively designed
            p.work-body-text Lorem ipsum dolor sit
    .col-sm-3.work-box-box
        .work-box
        img(src='img/work2.png' alt='work2')
        .work-body
            i.icon-picture-1
            p.work-body-title Creatively designed
            p.work-body-text Lorem ipsum dolor sit
        .work-box
        img(src='img/work4.png' alt='work4')
        .work-body
            i.icon-picture-1
            p.work-body-title Creatively designed
            p.work-body-text Lorem ipsum dolor sit
    .col-sm-3.work-box-box
        .work-box
        img(src='img/work5.png' alt='work5')
        .work-body.work-body-long
            i.icon-picture-1
            p.work-body-title Creatively designed
            p.work-body-text Lorem ipsum dolor sit
    .col-sm-3.work-box-box
        .work-box
        img(src='img/work6.png' alt='work6')
        .work-body
            i.icon-picture-1
            p.work-body-title Creatively designed
            p.work-body-text Lorem ipsum dolor sit
        .work-box
        img(src='img/work7.png' alt='work7')
        .work-body
            i.icon-picture-1
            p.work-body-title Creatively designed
            p.work-body-text Lorem ipsum dolor sit