#work.work
    .container
        .block
            p.block__title What we do
            h3.block__subtitle Some of our work
            p.block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
    .row.text-center
        .col-sm-3
            .work__item
                img(src='./assets/img/work1.png' alt='work')
                .work__text
                    .work__icon
                    p.work__title Creatively designed
                    p.work__subtitle Lorem ipsum dolor sit
            .work__item
                img(src='./assets/img/work3.png' alt='work')
                .work__text
                    .work__icon
                    p.work__title Creatively designed
                    p.work__subtitle Lorem ipsum dolor sit
        .col-sm-3
            .work__item
                img(src='./assets/img/work2.png' alt='work')
                .work__text
                    .work__icon
                    p.work__title Creatively designed
                    p.work__subtitle Lorem ipsum dolor sit
            .work__item
                img(src='./assets/img/work4.png' alt='work')
                .work__text
                    .work__icon
                    p.work__title Creatively designed
                    p.work__subtitle Lorem ipsum dolor sit
        .col-sm-3
            .work__item
                img(src='./assets/img/work5.png' alt='work')
                .work__text.work-body-long
                    .work__icon
                    p.work__title Creatively designed
                    p.work__subtitle Lorem ipsum dolor sit
        .col-sm-3
            .work__item
                img(src='./assets/img/work6.png' alt='work')
                .work__text
                    .work__icon
                    p.work__title Creatively designed
                    p.work__subtitle Lorem ipsum dolor sit
            .work__item
                img(src='./assets/img/work7.png' alt='work')
                .work__text
                    .work__icon
                    p.work__title Creatively designed
                    p.work__subtitle Lorem ipsum dolor sit